.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
**/.*DS_Store
/build
/captures
.externalNativeBuild
/IntelliJ/BrainiaX/Data Final for Software Development/*
IntelliJ/Training Set for Software Development/*
IntelliJ/Data Final for Software Development/*
